.quote {
    font-size: 2rem;
    margin: 1rem auto;
    border: 1px solid black;
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
    background-color: #557FE0;
}

.author {
    display: block;
    width: fit-content;
    margin: .5rem 3rem 0.7rem auto;
}